# Ignore binaries wherever they are
/**/fizzbuzz-rest
# Don't ignore folders with the same names as the binaries
!/**/fizzbuzz-rest/
# Ignore build directory
/obj-x86_64-linux-gnu/
# Ignore debian build files
/debian/.debhelper/
/debian/debhelper-build-stamp
/debian/files
/debian/fizzbuzz-rest*
# Ignore swap files 
/**/.*.swp
