# Ignore binaries wherever they are
/**/payment-server
/**/payment-client
# Don't ignore folders with the same names as the binaries
!/**/payment-server/
!/**/payment-client/
# Ignore build directory
/obj-x86_64-linux-gnu/
# Ignore swap files 
/**/.*.swp
